@model IEnumerable<Composition>


<div class="row mt-4">
    <div class="col-6">
        <h3 class="text-primary">CategoryList</h3>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" asp-controller="Composition" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp;Create Composition</a>
    </div>
</div>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th width="60%">@Html.DisplayNameFor(c=>c.Name)</th>
            <th width="40%">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>
                    <div class="w-75 btn btn-group">
                        <a asp-action="Edit" asp-controller="Composition" asp-route-Id="@obj.Id" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-controller="Composition" asp-route-Id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

