<div class="row mt-4">
    <div class="col-6">
        <h3 class="text-primary">Company List</h3>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Upsert" asp-controller="Company" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp;Create Company</a>
    </div>
</div>
<br />
<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>PhoneNumber</th>
            <th>PostalCode</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/company.js"></script>
}
