@model Company


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    
    @*<div asp-validation-summary="All"></div>*@
    <div class="row border-2">
       
            <div class="border mt-4 p-3 row">
                <div class="col-12 pt-2">
                    <h3 class="text-primary">@(Model.Id != 0 ? "Update" : "Upload") Company</h3>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="StreetAddress"></label>
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="State"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                
                <div class="">
                    @if (Model.Id != 0)
                    {
                        <button class="btn btn-success" type="submit">Update</button>
                        @*<input type="submit" class="btn btn-success" value="Update" />*@
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit">Create</button>
                        @*<input type="submit" onclick="return ValidateInput()" class="btn btn-success" value="Upload" />*@
                    }
                    <a asp-action="Index" asp-controller="Company" class="btn btn-secondary">Back To List</a>
                </div>
            </div>
    </div>


</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
